.App-container {
  background-color: #202020;
  border-radius: 30px;
  height: 518px;
  text-align: center;
  color: white;
  margin-top: 5%;
}

.App-title {
  letter-spacing: 0;
  line-height: 120px;
  min-height: 184px;
  min-width: 340px;
  white-space: nowrap;
  color: #FF8B8B;
  font-size: 7.5rem;
  padding-top: 2%;
  margin: 0px;
}

.App-bottom {
  display: flex;
  padding-top: 2%;
  justify-content: space-between;
}

.App-cat {
  height: 502px;
  width: 502px;
  background-image: url("./assets/pngtreeblackCatWithBigEyes5418226.png");
  background-size: cover;
  background-position: center;
}
.App-Ellipse
{
  text-align: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-image: radial-gradient(rgb(55, 165, 255), rgb(19, 82, 255));
  margin-top: 10%;
}

.App-Ellipse-Disc
{
  padding-top: 25%;
  padding-bottom: 25%;
  font-size: 3rem;
}

.Spinning {
  position: absolute;
  animation: moveLeftToRight 8s linear, bounce 2s linear 3;
}

.Hidden {
  display: none;
}

.Burst {
  animation: spin 3s linear infinite, burst 1s linear;
}

.second {
  font-size: 2rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight {
  0% {left: 40%;}
  100% {left: 100%;}
}
@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-50%); }
  50%  { transform: scale(1.05,0.95)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-17px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
@keyframes burst {
  0% {transform: scale(1, 1) rotate(0deg);}
  100% {transform: scale(0,0) rotate(360deg);}
}
