body {
  font-family: Jokerman;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444444;
  overflow-x: hidden;
}

@font-face {font-family: Jokerman; src: url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.eot"); src: url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.woff") format("woff"), url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/54b9af0b935475d59a4bc1f6cdad764b.svg#Jokerman") format("svg"); } 